<div class="container">
    <form class="forgot-password-form" #myForm="ngForm">
        <h1>Recuperar contraseña</h1>

        <input type="email" [(ngModel)]="email" name="user-email"
         email="/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}
         [a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/" 
         placeholder="Correo electrónico" required style="margin-top: 25px !important;">

        <button type="submit" id="send-mail" [disabled]="myForm.invalid">Enviar correo</button>
        <p class="log-in">¿Ya tienes una cuenta? <a href="/home">Inicia sesión</a></p>
    </form>
</div>
