<div class="container">
    <form class="login-form">
        <img class="img-fluid" src="../../../assets/UserIcon.png" alt="User icon">

        <input type="email" id="user-email" placeholder="Correo electrónico" required style="margin-top: 25px !important;">
        <input type="password" id="password" placeholder="Contraseña" required style="margin-top: 16px !important;">
        <p class="forgot-password"><a href="#">¿Olvidó su contraseña?</a></p>

        <button type="submit" id="log-in">Iniciar sesión</button>
        <p class="sign-up">¿No tienes una cuenta? <a href="#">Regístrate</a></p>
    </form>
</div>