<div class="container">
    <form class="sign-up-form" autocomplete="off" #myForm="ngForm">
        <h1>Regístrate</h1>

        <input type="email" [(ngModel)]="email" name="user-email"
         email="/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}
         [a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/" 
         placeholder="Correo electrónico" required style="margin-top: 25px !important;">
        <input type="text" [(ngModel)]="userName" name="nick-name" placeholder="Nombre de usuario" required style="margin-top: 16px !important;">
        <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required style="margin-top: 16px !important;">

        <button type="submit" id="sign-up" (click)="createUser()" [disabled]="myForm.invalid">Crear cuenta</button>
        <p class="log-in">¿Ya tienes una cuenta? <a href="/home">Inicia sesión</a></p>
    </form>
</div>